.talk-live-container {
  background-color: rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .live-header {
    background: #fff;
    background: linear-gradient(90deg, #fff 0%, $color--main 10%);
    padding: 0 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 54px;

    .img-container {
      flex: 1;

      img {
        height: 40px;
        margin: 8px 0;
      }
    }

    h1 {
      margin: 0;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
    }

    h2.talk-name {
      flex: 3;
      margin: 0;
      color: #fff;
      font-size: 22px;
      font-weight: 700;
      text-align: center;
    }

    i {
      background-color: red;
      color: #fff;
      padding: 8px;
      margin-left: 8px;
      font-size: 20px;
      border-radius: 8px;
    }
  }

  .live-content {
    flex: 1;
    display: flex;

    .content-left {
      flex: 3;
      display: flex;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.1);
      max-height: calc(100vh - 54px);

      .live-video {
        margin: 0 auto;

        .video {
          z-index: 999;
          max-width: 100%;
          transition: width 0.2s ease, height 0.2s ease;

          &.x1 {
            $iframe-width: 600px;
            width: $iframe-width;
            height: calc(#{$iframe-width} / 2);
          }

          &.x2 {
            $iframe-width: 800px;
            width: $iframe-width;
            height: calc(#{$iframe-width} / 2);
          }

          &.x3 {
            $iframe-width: 1000px;
            width: $iframe-width;
            height: calc(#{$iframe-width} / 2);
          }
        }

        .iframe-size-buttons {
          text-align: center;

          button {
            margin-right: 8px;
            color: black;

            &.active {
              background-color: $color--main-active;
            }
          }
        }
      }

      .live-surveys {
        overflow-y: auto;

        .survey-manager {
          margin: 0 8px;

          button {
            border: 0;
            border-radius: 12px;
            padding: 4px 10px;
            margin-right: 4px;

            i {
              margin-right: 6px;
            }

            &:active,
            &:focus {
              outline: none;
            }

            &.add-survey {
              background-color: $color--main;
            }
            &.show-surveys {
              background-color: $color--main-active;
            }
          }
        }

        .show-survey-list {
          $transitionTime: 0.2s;
          opacity: 0;
          height: 0;
          transition: opacity $transitionTime ease;

          &.active {
            opacity: 1;
            height: 100%;
          }

          .survey {
            color: rgba(0, 0, 0, 0.8);
            background-color: rgba(0, 0, 0, 0.2);
            margin: 8px;
            padding: 8px;
            display: flex;

            &.active {
              background-color: rgba(0, 0, 0, 0.1);
              border: 1px solid $color--main;
            }

            .s-icon {
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 70px;
              text-align: center;

              i {
                align-self: flex-start;
                background-color: $color--main;
                color: #fff;
                font-size: 40px;
                padding: 12px;
                border-radius: 50%;
                margin-bottom: 8px;
              }

              .status {
                margin: 4px 0;
                font-size: 11px;
                font-weight: 700;

                &.active {
                  color: darken($color--main, 5);
                }
                &.inactive {
                  color: darkred;
                }
                &.enabled {
                  color: darken($color--main, 5);
                }
                &.disabled {
                  color: darkred;
                }
                &.show-results {
                  color: darken($color--main, 5);
                }
                &.hide-results {
                  color: darkred;
                }
              }
            }

            .s-content {
              flex: 1;
              padding: 0 8px;

              .s-title {
                font-weight: 700;
                margin-bottom: 16px;
                text-align: center;
              }

              .s-ans-container {
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                margin: 0;
                align-items: center;

                .s-ans-item {
                  flex-shrink: 1;
                  min-width: 50%;
                  margin: 0 0 12px;
                  padding-right: 8px;
                  display: flex;

                  .s-percentage {
                    font-size: 24px;
                    font-weight: 700;
                    min-width: 65px;
                    align-self: center;
                    text-align: right;
                  }
                  .s-answer-title {
                    align-self: center;
                    margin-left: 8px;
                  }
                }
              }
            }

            .s-buttons {
              display: flex;
              flex-direction: column;
              min-width: 180px;

              .s-button {
                margin-bottom: 8px;
                padding: 10px 18px;
                border: 0;
                border-radius: 24px;
                font-size: 12px;
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;

                &:active,
                &:focus {
                  outline: none;
                }

                &:last-child {
                  margin-bottom: 0;
                }

                &.red {
                  background-color: red;
                }
                &.finalize {
                  background-color: darken(darkorange, 8);
                }
                &.show-results {
                  background-color: steelblue;
                }
                &.start {
                  background-color: $color--main;
                }
              }
            }
          }
        }
      }
    }

    .live-manage {
      width: 300px;
      background-color: rgba(0, 0, 0, 0.7);
      height: calc(100vh - 54px);

      .spk-chat-container {
        position: relative;

        .tab-buttons {
          display: flex;
          position: absolute;
          width: 100%;

          button {
            flex: 1;
            background-color: $color--main;
            border-top: 0;
            padding: 8px 0;
            position: relative;

            &.active {
              background-color: $color--main-active;
            }

            &:active,
            &:focus {
              outline: none;
            }

            i {
              position: absolute;
              background-color: red;
              top: -2px;
              right: -2px;
              padding: 6px;
              border-radius: 50%;
              font-size: 10px;
            }
          }
        }

        .messages {
          height: calc(100vh - 54px - 60px);
          overflow-y: auto;
          color: rgba(255, 255, 255, 0.9);
          list-style: none;
          margin: 0;
          padding: 38px 12px 0;

          .message {
            .content {
              margin: 8px 0 0;
              text-align: left;
              font-size: 12px;

              .name {
                margin-right: 6px;
                max-width: 100%;
                overflow-wrap: break-word;
              }
              .text {
                max-width: 100%;
                overflow-wrap: break-word;
              }
            }
            .date-content {
              margin: 0;
              text-align: left;

              .date {
                font-size: 10px;
                margin-right: 4px;
                color: rgba(255, 255, 255, 0.4);
              }
            }

            &.speaker {
              .content {
                text-align: right;
                font-size: 14px;

                .name {
                  font-weight: bold;
                }
                .text {
                  font-weight: bold;
                }
              }

              .date-content {
                text-align: right;
                margin-bottom: 12px;
              }
            }

            &.server_message {
              .content,
              .date-content {
                text-align: center;
              }
            }
          }
        }

        .inputMessage {
          color: rgba(255, 255, 255, 0.9);
          background-color: transparent;
          font-size: 100%;
          height: 50%;
          width: calc(100% - 48px - 12px - 10px - 2px);
          // ^ size - button - button margin - input margin
          margin: 12px 10px 0;
          padding-left: 8px;
          padding-bottom: 4px;
          outline: none;
          border: 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        }

        button.send-message {
          position: absolute;
          right: 0;
          margin: 6px;
          padding: 0;
          text-align: center;
          border: 0;
          border-radius: 50%;
          background-color: $color--main-active;
          color: #fff;
          width: 40px;
          height: 40px;

          &:active,
          &:focus {
            outline: none;
          }

          i {
            font-size: 18px;
          }

          &.submitMessage {
            bottom: 0;
          }

          &.toggleModal {
            bottom: 48px + 6px;
            transition: opacity 0.2s ease;
            opacity: 0;

            &.active {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

/* React Modal */

.add-survey-form {
  color: rgba(0, 0, 0, 0.8);
}
